<div class="container py-3">
    <div class="row py-5 justify-content-end">
        <div class="col-md-8 col-lg-10">
            <div class="row pb-3">
                <div class="col h1">Shopping Cart</div>
                <hr> <hr>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 me-3 h4">
                    <img src="../../../assets/images/products/nutty_chocolate/nuts_6.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-5">
                    <div class="row pb-4 h2">Milk Chocolate</div>
                    <div class="row h5">Quantity
                        <select class="form-select my-3" aria-label="select quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="row h5 mb-5"> Price: 50 eur</div>
                </div>      
                <hr>          
            </div>   
            
            <div class="row pb-3">
                <div class="col-lg-4 me-3 h4">
                    <img src="../../../assets/images/products/nutty_chocolate/nuts_5.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-5">
                    <div class="row pb-4 h2">Milk Chocolate</div>
                    <div class="row h5">Quantity
                        <select class="form-select my-3" aria-label="select quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="row h5 mb-5"> Price: 100 eur </div>
                </div>      
                <hr>          
            </div>   
            <div class="row pb-3">
                <div class="col-lg-4 me-3 h4">
                    <img src="../../../assets/images/products/milk_chocolate/milk_6.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-5">
                    <div class="row pb-4 h2">Milk Chocolate</div>
                    <div class="row h5">Quantity
                        <select class="form-select my-3" aria-label="select quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="row h5 mb-5"> Price: 80 eur </div>
                </div>      
                <hr>          
            </div>   
         
                
        </div>
        <div class="col-md-4 col-lg-2 py-1">
            <div class="row ms-md-3 h2"> Subtotal: 230 eur</div>
            <div class="row py-5">
                <button class="btn btn-danger ms-md-3 my-2" type="button">Proced to checkout</button>
            </div>
        </div>
    </div>
</div>