<nav class="navbar navbar-expand-lg navbar-dark bg-dark ps-2">
    <div class="container-fluid">
        <a class="navbar-brand pe-5 fs-4"  routerLink="home">Artisan Chocolate</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5">
                <li class="nav-item me-3">
                    <a class="nav-link active" aria-current="true" routerLink="home">Home</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link active" routerLink="products">Collections</a>
                </li>               
                <li class="nav-item me-3">
                    <a class="nav-link active" routerLink="about">Our story</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link active" routerLink="shopping-cart"> Cart <i class="bi bi-cart-check-fill"></i></a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link active" routerLink="checkout"> Checkout</a>
                </li>
            </ul>
            <form class="d-flex my-0">
                <input class="form-control form-control-sm" type="search" placeholder="Search your flavour"
                    aria-label="Search">
                <button routerLink="products" class="btn btn-sm btn-dark" type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div>
    </div>
</nav>
