<div class="container-lg py-3">
    <div class="row text-center">
        <h2 class="fs-2 py-4">Choose your favourite chocolate</h2>
    </div>
    <div class="row">
        <div class="col">
            <select class="form-select" aria-label="select category">
                <option selected class="special">COLLECTIONS</option>
                <option value="1">DARK CHOCOLATE </option>
                <option value="2">WHITE CHOCOLATE </option>
                <option value="3">MILK CHOCOLATE </option>
                <option value="4">NUTTY CHOCOLATE </option>
                <option value="5">CHILLI CHOCOLATE </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row row-cols-1 row row-cols-sm-2  row-cols-md-3 row-cols-lg-4">
                <div class="col mb-2 my-2" *ngFor="let tempProduct of products">
                    <div class="card h-100 bg-dark">
                        <img src="{{ tempProduct.imageUrl }}" class="card-img-top" alt="product image">
                        <div class="card-body text-white justify-content-center">
                            <h3 class="card-title mb-3">{{ tempProduct.name }}</h3>
                            <p class="lead card-subtitle">Only the best chocolate</p>
                            <p class="my-4 text-white fs-5 fw-outline">Price: {{ tempProduct.price | currency:'EUR' }}</p>
                            <p class="card-text">{{ tempProduct.description }}</p>
                            <a (click)="productDetails(tempProduct.id)" class="btn btn-outline-danger btn-lg">Buy now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>         
    
</div>

<div class="container mt-4">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link text-dark" routerLink="products">Previous</a></li>
            <li class="page-item"><a class="page-link text-dark" routerLink="products">1</a></li>
            <li class="page-item"><a class="page-link text-dark" routerLink="products">2</a></li>
            <li class="page-item"><a class="page-link text-dark" routerLink="products">3</a></li>
            <li class="page-item"><a class="page-link text-dark" routerLink="products">Next</a></li>
        </ul>
    </nav>
</div>