<div class="container pt-0">
    <div class="row py-5">
        <div class="col-lg-8 m-auto text-center">
            <h1>Chocolate craftsmanship, and the world’s finest ingredients.</h1>
        </div>
        <div class="row py-5">
            <div class="col-lg-6">
                <img src="../../../assets/images/products/milk_chocolate/milk_8.jpg" class="img-fluid mb-3" alt="">
                <h5>Finest chocolate</h5>
                <p>Best place for chocolate enthusiasts, we offer a wide range of products: dark, white, milk, nutty or spicy.</p>
            </div>
            <div class="col-lg-3">
                <img src="../../../assets/images/products/nutty_chocolate/nuts_2.jpg" class="img-fluid mb-3" alt="">
                <h5>Unique, artisan chocolates.</h5>
                <p>Best place for chocolate enthusiasts, we offer a wide range of products: dark, white, milk, ntty or spicy.</p>
            </div>
            <div class="col-lg-3">
                <img src="../../../assets/images/slide_7.jpg" class="img-fluid mb-3" alt="">
                <h5>Supporting small businesses</h5>
                <p>Best place for chocolate enthusiasts, we offer a wide range of products: dark, white, milk, nutty or spicy.</p>
            </div>
        </div>
    </div>
</div>