<div class="container-fluid bg-dark text-white">
    <div class="row py-3 m-auto text-right">
        <div class="col-md-4 pt-2">
            <h5 class="pb-2">Contacts</h5>
            <p><i class="bi bi-telephone-inbound"></i> Phone: 13 13 13 13</p>
            <p><i class="bi bi-envelope"></i> Email: chocolate@example.com</p>
            <p>Address: Chocolate Street no 13 Bucharest</p>
        </div>
        <div class="col-md-4 pt-2">
            <h5 class="pb-2">Customer Service</h5>
            <p>Shipping & Delivery</p>
            <p>Dietary Information</p>
            <p>Return Policy</p>
        </div>
        <div class="col-md-4 pt-2">
            <h5 class="pb-2">Connect with us</h5>
            <p>
                <a href="https://www.facebook.com"><i class="bi bi-facebook"></i> facebook</a>
            </p>
            <p>
                <a href="https://www.instagram.com"><i class="bi bi-instagram"></i> instagram</a>
            </p>
            <p>
                <a href="https://www.twitter.com"><i class="bi bi-facebook"></i> twitter</a>
            </p>
        </div>
    </div>
</div>